body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    color: #191B1B;
}

p{
    line-height: 30px;
}

ul{
    list-style-type: none;
    margin-left: -40px;
}

.container{
    width: 100%;
    max-width: 1027px;
    margin: 150px auto;
}

.centered-sm-p{
    text-align: center;
    width: 550px;
    margin: 30px auto;
    line-height: 30px;
}

/* ********** NAVBAR ****************** */
nav{
    display: flex;
    justify-content: space-between;
    padding: 47px 60px 0 60px;
    font-size: 16px;     
    line-height: 30px;
}

.brand-sm{
    display: none;
}

.nav-links{
    display: flex;
    list-style-type: none;
}

.nav-link{
    padding: 0 20px;
}

.nav-link{
    color: #000;
    text-decoration: none;
}

/* *************** HEADER ******************* */

header{
    text-align: center;
}

h1{
    font-size: 50px;
    font-style: heavy;
    font-weight: 800;
    max-width: 400px;
    margin: 0 auto;
}

header p{
    width: 478px;
    text-align: center;
    margin: 30px auto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

header video{
    max-width: 875px;
    width: 100%;    
    height: auto;
    margin: 70px auto;
}

/* ************* MAIN ********************** */

main{
    margin-top: 150px;
}

h2{
    text-align: center;
    margin: 65px auto;
    font-size: 30px;
}

#about h2{
    margin: 60px auto;
}

.steps-wrapper{
    display: flex;
    justify-content: space-between;
}

.overlay-wrapper{
    width: 50%;
    position: relative;
}

.overlay-wrapper img{
    width: 100%;
    height: auto;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #444;
    opacity: 0;
    transition: 0.5s ease;
}

.overlay-wrapper:hover .overlay{
    opacity: 0.8;
}

.step-desc{
    max-width: 400px;
}

.step p{
    display: none;
    animation: fade-out 0.5s;
}

.current p{
    display: block;
    opacity: 1;
    animation: fade-in 0.5s;
}

@keyframes fade-in {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes fade-out {
    from{opacity: 1;}
    to{opacity: 0;}
}

.icon-list{
    width: 602px;
    margin: 110px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    list-style-type: none;
    grid-gap: 50px 150px;
}

.fab, .icon-list li img{
    display: inline-block;
    width: 20px;
}

/* **** PRICING **** */

#pricing .pkg{
    box-sizing: border-box;
    width: 420px;
    padding: 60px 40px;
    font-size: 16px;
    border: 2px solid #eee;
    box-shadow: 0px 2px 24px rgba(220, 220, 220, 0.5);
    border-radius: 8px;
}

.pkg h3{
    font-size: 35px;
}

.pkg h3 sup{
    font-size: 15px;
}

.pkg-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
}

.features{
    line-height: 60px;
    min-height: 250px;
}

.testimonial{
    box-sizing: border-box;
    background: #ececec;
    padding: 20px;
    width: 340px;
    min-height: 120px;
    display: flex;
}

.testimonial p{
    width: 260px;
    margin-top: 2px;
}

.testimonial img{
    width: 40px;
    height: 40px;
}

.pkg-btn{
    width: 340px;
    height: 48px;
    border: none;
    background: #000;
    color: #fff;
    font-weight: 600;
    margin-top: 40px;
    border-radius: 3px;
}

#pricing .pkg:hover{
    border: 2px solid #191B1B;
}

/* ***** CONTACT ***** */

#contact{
    text-align: center;
    margin: 100px auto;
}

#contact button{
    box-sizing: border-box;
    width: 200px;
    height: 48px;
    border: 1px solid #000;
    border-radius: 3px;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

/* ************** FOOTER ******************** */
footer{
    background: #000;
    color: #fff;
    height: 648px;
    width: 100%;
}

.footer-wrapper{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 130px 0;
}

.footer-wrapper ul{
    line-height: 50px;
}

/* ************** MEDIA QUERIES ************* */

@media screen and (max-width: 1400px){
    .pkg{
        width: 320px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 1027px){
    .step-desc{
        width: 40%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 650px){    
    nav{
        padding: 20px 30px 0 30px;
    }

    .nav-link{
        padding: 0 5px;
    }

    h1{
        font-size: 50px;
        width: 80%;
    }

    .sm-hidden{
        display: none;
    }

    .brand-sm{
        display: block;
    }

    .step{
        flex-direction: column;
    }

    .step-desc{
        width: 90%;
        margin: 30px auto;
    }

    .icon-list{
        grid-gap: 50px 0;
    }

    .pkg-wrapper{
        width: 100%;
        padding: 0;
    }

}

@media screen and (max-width: 500px){
    header p {
        width: 250px;
    }
}



/* Test comment */