html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    color: #191B1B;
}

.container{
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

p, nav{
    line-height: 30px;
}

ul{
    list-style-type: none;
    margin-left: -40px;
}

p{
    letter-spacing: 0.5px;
    width: 90%;
}

a{
    text-decoration: none;
    color: inherit;
}

/* ********** NAVBAR ****************** */
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 60px 0 60px;
}

.brand-sm{
    display: none;
}

.nav-links{
    display: flex;
    width: 298px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    letter-spacing: 1px;
}

.nav-link-wrapper{
    margin-right: 47px;
    padding: 0 10px;
}

.nav-link{
    color: #000;
    text-decoration: none;
}

/* *************** HEADER ******************* */

header{
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1{
    font-size: 50px;
    font-weight: 800;
    width: 402px;
    margin: 10px auto;
    line-height: 55px;
    letter-spacing: -0.5px;
}

header p{
    max-width: 478px;
    margin: 20px auto;
    letter-spacing: 0.47px;
}

video{
    width: 100%;
    max-width: 925px;
    height: auto;
    margin: 75px auto;
}

/* ************* MAIN ********************** */
section h2{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin: 135px auto 110px auto;
    letter-spacing: -1.2px;
}

#about h2{
    margin: 60px auto 130px;
}

.steps-wrapper{
    display: flex;
    justify-content: space-evenly;
    padding: 0 50px 0 75px;
}

.overlay-wrapper{
    width: 488px;
    position: relative;
}

.overlay-wrapper img{
    width: 100%;
    height: auto;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #444;
    opacity: 0;
    transition: 0.5s ease;
}

.overlay-wrapper:hover .overlay{
    opacity: 0.8;
}

.step-desc{
    max-width: 340px;
}

.step{
    margin-bottom: 55px;
}

.step.current{
    margin-bottom: 70px;
}

.step.current h3{
    margin-bottom: 21px;
    letter-spacing: 0.7px;
}

.step p{
    display: none;
    margin-bottom: 30px;
    animation: fade-out 0.5s;
}

.current p{
    display: block;
    opacity: 1;
    animation: fade-in 0.5s;
}

@keyframes fade-in {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes fade-out {
    from{opacity: 1;}
    to{opacity: 0;}
}

.icon-list{
    max-width: 670px;
    margin: 125px auto;
    padding-left: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 160px;
    line-height: 50px;
    width: 90%;
}

.fab, .icon-list li img{
    display: inline-block;
    width: 20px;
}

/* **** PRICING **** */

#pricing h2{margin-bottom: 70px;}

.pkg-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 5px;
}

.pkg{
    width: 375px;
    height: 720px;
    padding-left: 35px;
    border: 2px solid #eee;
    box-shadow: 0px 2px 24px rgba(220, 220, 220, 0.5);
    border-radius: 8px;
}

.pkg:hover{
    border: 2px solid #191B1B;
}


.pkg .price{
    font-size: 40px;
    font-weight: 300;
    margin: 55px 0 15px;
    line-height: 48px;
    letter-spacing: 5px;
}

.pkg .price sup{
    font-size: 20px;
    letter-spacing: 1.5px;
}

.pkg .title{
    letter-spacing: 1.5px;
    margin-bottom: 24px;
}

.pkg .sub-title{
    line-height: 27px;
    width: 340px;
    letter-spacing: 0.7px;
}

.pkg .features{
    padding-left: 0;
    list-style-type: none;
    font-weight: 800;
    line-height: 60px;
    margin: 20px auto;
    letter-spacing: -1.1px;
}


.testimonial{
    box-sizing: border-box;
    background: #ececec;
    padding: 20px;
    width: 340px;
    min-height: 78px;
    display: flex;
    border-radius: 5px;
}

.testimonial p{
    width: 250px;
    margin-top: 2px;
    font-size: 14px;
    line-height: 25px;
}

.testimonial img{
    width: 40px;
    height: 40px;
}

.pkg-btn{
    width: 340px;
    height: 48px;
    border: none;
    background: #000;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 3px;
}


/* ***** CONTACT ***** */

#contact{
    text-align: center;
    margin: 150px auto 175px;
}

#contact button{
    width: 200px;
    height: 48px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    background: #fff;
    margin-top: 20px;
}

#contact button a{
    text-decoration: none;
    color: #000;
}

/* ************** FOOTER ******************** */
footer{
    background: #000;
    color: #fff;
    height: 648px;
    width: 100%;
}

.footer-wrapper{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 110px 150px 0 70px;
}

.footer-wrapper p{
    font-size: 20px;
}

.footer-wrapper ul{
    line-height: 50px;
}

/* ************** MEDIA QUERIES ************* */

@media screen and (max-width: 1400px){
    .container{
        width: 100%;
    }

    .background{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icon-list{
        width: 90%;
    }
    .pkg{
        margin-bottom: 40px;
    }

    .pkg-wrapper{
        justify-content: space-around;
    }

    .footer-wrapper{
        padding: 110px 0 0 0;
    }
}

@media screen and (max-width: 1027px){
    .steps-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .step-desc{
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 650px){    
    nav{
        padding: 20px 30px 0 30px;
    }

    .nav-link{
        padding: 0 5px;
    }

    h1{
        font-size: 50px;
        width: 80%;
    }

    .sm-hidden{
        display: none;
    }

    .brand-sm{
        display: block;
    }

    .step{
        flex-direction: column;
        align-items: center;
    }

    .step-desc{
        width: 90%;
        margin: 30px auto;
    }

    .icon-list{
        grid-gap: 50px 0;
    }

    .pkg-wrapper{
        width: 100%;
        padding: 0;
    }

}

@media screen and (max-width: 500px){
    header p {
        width: 250px;
    }
}



/* Test comment */