@font-face{
    font-family: 'SF Pro';
    src: url(SF-Text/SF-Pro-Display-Regular.otf);
    font-style: normal;
    font-weight: 500;
}

body{
    margin: 0;
    padding: 0;
    font-family: "SF Pro";
}

ul{
    list-style-type: none;
    margin-left: -40px;
}

.container{
    width: 100%;
    max-width: 1027px;
    margin: 150px auto;
}

.centered-sm-p{
    text-align: center;
    width: 550px;
    margin: 30px auto;
    line-height: 30px;
}

/* ********** NAVBAR ****************** */
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 60px;
    font-size: 16px;     
}

.brand-wrapper{
    margin-top: 2px;
}

.brand-sm{
    display: none;
}

.nav-links{
    display: flex;
    list-style-type: none;
}

.nav-link{
    padding: 0 20px;
}

.nav-link{
    color: #000;
    text-decoration: none;
}

/* *************** HEADER ******************* */

header{
    text-align: center;
}

h1{
    font-size: 50px;
    font-style: heavy;
    font-weight: bolder;
    width: 550px;
    margin: 0 auto;
}

header video{
    max-width: 1027px;
    width: 100%;    
    height: auto;
}

/* ************* MAIN ********************** */

main{
    margin-top: 150px;
}

h2{
    text-align: center;
}

.step{
    display: flex;
    justify-content: space-between;
}

.overlay-wrapper{
    width: 50%;
    position: relative;
}

.overlay-wrapper img{
    width: 100%;
    height: auto;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #444;
    opacity: 0;
    transition: 0.5s ease;
}

.overlay-wrapper:hover .overlay{
    opacity: 0.8;
}

.step-desc{
    max-width: 400px;
}

.icon-list{
    width: 550px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    list-style-type: none;
    grid-gap: 20px 50px;
}

.fab, .icon-list li img{
    display: inline-block;
    width: 20px;
}

/* **** PRICING **** */

#pricing .pkg{
    box-sizing: border-box;
    width: 420px;
    padding: 60px 40px;
    margin-left: 30px;
    font-size: 16px;
    border: 2px solid #eee;
}

.pkg h3{
    font-size: 35px;
}

.pkg-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
}

.features{
    line-height: 60px;
    min-height: 250px;
}

.testimonial{
    box-sizing: border-box;
    background: #ececec;
    padding: 20px;
    width: 340px;
    min-height: 120px;
    display: flex;
}

.testimonial p{
    width: 260px;
    margin-top: 2px;
}

.testimonial img{
    width: 40px;
    height: 40px;
}

.pkg-btn{
    width: 340px;
    height: 48px;
    border: none;
    background: #000;
    color: #fff;
    font-weight: 600;
    margin-top: 40px;
}

.pkg:hover{
    border: 2px solid #ccc;
    box-shadow: 0px 2px 24px rgba(220, 220, 220, 0.5);
}

/* ***** CONTACT ***** */

#contact{
    text-align: center;
    margin: 100px auto;
}

#contact button{
    box-sizing: border-box;
    width: 200px;
    height: 48px;
    border: 1px solid #000;
    border-radius: 3px;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

/* ************** FOOTER ******************** */
footer{
    background: #000;
    color: #fff;
}

.footer-wrapper{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
}

/* ************** MEDIA QUERIES ************* */

@media screen and (max-width: 1400px){
    .pkg{
        width: 320px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 1027px){
    .step-desc{
        width: 40%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 650px){    
    .sm-hidden{
        display: none;
    }

    .brand-sm{
        display: block;
    }

    .step{
        flex-direction: column;
    }

    .step-desc{
        width: 90%;
        margin: 30px auto;
    }

    .pkg-wrapper{
        flex-direction: column;
    }
}

@media screen and (max-width: 500px){
    header p {
        width: 250px;
    }
}